.active {
}
.categories {
  padding: 5px 5px;

  &__content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    row-gap: 15px;
    @media (max-width: 810px) {
      flex-direction: column;
      align-items: center;
    }
  }
}
.nav {
  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  &__item {
    height: 46px;
    border-radius: $bradius-big;
    background-color: #f9f9f9;
    font-size: 1rem;
    line-height: 1.25;

    padding: 12px 35px;
    border-radius: $bradius-big;
    cursor: pointer;
    &.active {
      background-color: $black;
      color: #fff;
      &:hover {
        background-color: $black;
      }
    }
    &:hover {
      background-color: darken(#f9f9f9, 2%);
    }

    &:active {
      background-color: darken(#f9f9f9, 5%);
    }
    @media (max-width: 810px) {
      padding: 12px 18px;
    }
  }
  &__link {
    display: block;
    padding: 12px 35px;
    border-radius: $bradius-big;

    &.active {
      background-color: $black;
      color: #fff;
    }
  }
}
