.pagination {
  &__list {
    width: 150px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
  }
  &__item {
    padding: 4px 8px;
    border: 1px solid $orange;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color $duration ease-in-out, color $duration ease-in-out;
    &.active,
    &:hover {
      background-color: $orange;
      color: #fff;
    }
  }
}
